<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>722807943646-3kbbgji4j0ofpmvc2pl2k03i3k81e2v6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.722807943646-3kbbgji4j0ofpmvc2pl2k03i3k81e2v6</string>
	<key>API_KEY</key>
	<string>AIzaSyBCZCygm6K0g7_IOTFSaB6k9cUFyeD7M30</string>
	<key>GCM_SENDER_ID</key>
	<string>722807943646</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebasetest</string>
	<key>PROJECT_ID</key>
	<string>testfirebaseflutter-a286c</string>
	<key>STORAGE_BUCKET</key>
	<string>testfirebaseflutter-a286c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:722807943646:ios:b6f3909f5e6c8227e3ad4f</string>
</dict>
</plist>